<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">
  <div class="carousel-inner">
    <div class="carousel-item active r-img">
      <img src="/images/head-1.jpg" class="d-block w-100 k-img img-fluid" alt="...">
    </div>
    <div class="carousel-item r-img">
      <img src="/images/head-2.jpg" class="d-block w-100 k-img img-fluid" alt="...">
    </div>
    <div class="carousel-item r-img">
      <img src="/images/head-3.jpg" class="d-block w-100 k-img img-fluid" alt="...">
    </div>
  </div>
</div>

<!-- Hakkımızda -->
<div class="container-fluid hakkimizda d-flex justify-content-center">
  <div class="row col-xxl-8">
    <h1 class="h-baslik">Glorious</h1>
    <h1 class="h-baslik">Experience</h1>
    <h4 class="h-baslik2">Hakkımızda</h4>
    <p>Duja kelimesinin Hintçe kökenli anlamı olan "iki eşit" in felsefi karşılığı olan ve kâinatın işleyişini açıklayan Yin ile Yang ilkesinden ilham alınarak yaratılmış Duja Güneşi, lüks ve konforu bir arada sunan Duja Hotels’in sürekli yenilenme ve gelişme ilkesini temsil ediyor.</p>
  </div>
</div>

<!-- Odalar -->
<div class="container-fluid f-kapsayici d-flex align-items-center justify-content-center">
  <div class="row" style="height: 80%; width: 90%;">
    <div class="col-12 col-sm-6 col-lg-4 kutu1">
      <img src="/images/r-1.jpg" class="img-fluid o-resim">
    </div>
    <div class="col-12 col-sm-6 col-lg-4 kutu2">
      <img src="/images/r-2.jpg" class="img-fluid o-resim">
    </div>
    <div class="col-12 col-lg-12 kutu3">
      <h2>Odalar</h2>
      <h4>Lüx ve Konforu Bir Arada Yaşayın</h4>
      <p>Otelimizin odaları, misafirlerimize unutulmaz bir konaklama deneyimi sunmak için ve her türlü ihtiyacınıza cevap verebilecek şekilde özenle tasarlanmıştır.</p>
    </div>
  </div>
</div>

<!-- Havuz ve Plaj -->
<div class="container-fluid f-kapsayici1 d-flex align-items-center justify-content-center">
  <div class="row" style="height: 80%; width: 90%;">
    <div class="col-12 kutu3">
      <h2>Havuz & Plaj</h2>
      <h4>Lüx ve Konforu Bir Arada Yaşayın</h4>
      <p>Ege'nin incisi Bodrum'da hafızalarınıza kazınacak doğa harikası bir koyda masmavi suların tadını çıkarabilirsiniz.</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 kutu1 oda-rsm">
      <img src="/images/head-1.jpg" class="img-fluid o-resim">
    </div>
    <div class="col-12 col-sm-6 col-lg-4 kutu2 oda-rsm">
      <img src="/images/b-1.jpg" class="img-fluid o-resim">
    </div>
  </div>
</div>

<!-- Aktiviteler -->
<div class="container-fluid f-kapsayici2 d-flex align-items-center justify-content-center">
  <div class="row" style="height: 80%; width: 90%;">
    <div class="col-12 col-lg-12 kutu3">
      <h2>Aktiviteler</h2>
      <h4>Lüx ve Konforu Bir Arada Yaşayın</h4>
      <p>Selectum Colours Bodrum, tatilinize unutulmaz bir renk katmak için eşsiz temalı partilerle gece atmosferini değiştiriyor.</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 act-resim">
      <img src="/images/act-1.jpg" class="img-fluid o-resim">
    </div>
    <div class="col-12 col-sm-6 col-lg-4 act-resim">
      <img src="/images/act-2.jpg" class="img-fluid o-resim">
    </div>
    <div class="col-12 col-sm-6 col-lg-4 act-resim">
      <img src="/images/act-3.jpg" class="img-fluid o-resim">
    </div>
  </div>
</div>

<!-- Footer -->
<div class="container-fluid footer d-flex justify-content-center">
  <div class="row">
    <div class="col-md-12 footer-sutun d-flex flex-column justify-content-center align-items-center">
      <div class="icons">
        <i class="fa-brands fa-square-instagram fa-2x me-2"></i>
        <i class="fa-brands fa-facebook fa-2x me-2"></i>
        <i class="fa-brands fa-x-twitter fa-2x me-2"></i>
        <i class="fa-brands fa-square-youtube fa-2x me-2"></i>
      </div>
      <p class="mt-3">Copyright © 2024 | Tüm hakları saklıdır.</p>
    </div>
  </div>
</div>
