.dolu{
    margin-left: 13px;
}

::ng-deep .cdk-overlay-container {
    z-index: 100000 !important;
  }
  
  ::ng-deep .mat-datepicker-content {
    z-index: 100000 !important;
  }

  .example-full-width{
    width: 107%;
    margin-left: -15px;
    border-radius: 10px;
  }

  ::ng-deep .example-custom-date-class .mat-calendar-body-cell-content {
    background: orange;
    border-radius: 100%;
  }
  