<div class="body-kapsayici">

<div class="modal fade" id="kullanimSartModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content kullanimSartModal">
        <div class="modal-body">
            <h2>Kullanım Koşulları</h2>
            <p>Sevgili ziyaretçimiz, lütfen <a href="https://site.com">https://site.com</a> web sitemizi ziyaret etmeden önce işbu kullanım koşulları sözleşmesini dikkatlice okuyunuz. Siteye erişiminiz tamamen bu sözleşmeyi kabulünüze ve bu sözleşme ile belirlenen şartlara uymanıza bağlıdır. Şayet bu sözleşmede yazan herhangi bir koşulu kabul etmiyorsanız, lütfen siteye erişiminizi sonlandırınız. Siteye erişiminizi sürdürdüğünüz takdirde, koşulsuz ve kısıtlamasız olarak, işbu sözleşme metninin tamamını kabul ettiğinizin, tarafımızca varsayılacağını lütfen unutmayınız.</p>
            <p><a href="https://site.com">https://site.com</a> web sitesi Şirket Adı tarafından yönetilmekte olup, bundan sonra SİTE olarak anılacaktır. İşbu siteye ilişkin Kullanım Koşulları, yayınlanmakla yürürlüğe girer. Değişiklik yapma hakkı, tek taraflı olarak SİTE'ye aittir ve SİTE üzerinden güncel olarak paylaşılacak olan bu değişiklikleri, tüm kullanıcılarımız baştan kabul etmiş sayılır.</p>
        
            <h2>Gizlilik</h2>
            <p>Gizlilik, ayrı bir sayfada, kişisel verilerinizin tarafımızca işlenmesinin esaslarını düzenlemek üzere mevcuttur. SİTE'yi kullandığınız takdirde, bu verilerin işlenmesinin gizlilik politikasına uygun olarak gerçekleştiğini kabul edersiniz.</p>
        
            <h2>Hizmet Kapsamı</h2>
            <p>Şirket Adı olarak, sunacağımız hizmetlerin kapsamını ve niteliğini, yasalar çerçevesinde belirlemekte tamamen serbest olup; hizmetlere ilişkin yapacağımız değişiklikler, SİTE'de yayınlanmakla yürürlüğe girmiş sayılacaktır.</p>
        
            <h2>Telif Hakları</h2>
            <p>SİTE'de yayınlanan tüm metin, kod, grafikler, logolar, resimler, ses dosyaları ve kullanılan yazılımın sahibi (bundan böyle ve daha sonra "içerik" olarak anılacaktır) Şirket Adı olup, tüm hakları saklıdır. Yazılı izin olmaksızın site içeriğinin çoğaltılması veya kopyalanması kesinlikle yasaktır.</p>
        
            <h2>Genel Hükümler</h2>
            <ul>
                <li>Kullanıcıların tamamı, SİTE'yi yalnızca hukuka uygun ve şahsi amaçlarla kullanacaklarını ve üçüncü kişinin haklarına tecavüz teşkil edecek nitelikteki herhangi bir faaliyette bulunmayacağını taahhüt eder. SİTE dâhilinde yaptıkları işlem ve eylemlerindeki, hukuki ve cezai sorumlulukları kendilerine aittir. İşbu iş ve eylemler sebebiyle, üçüncü kişilerin uğradıkları veya uğrayabilecekleri zararlardan dolayı SİTE'nin doğrudan ve/veya dolaylı hiçbir sorumluluğu yoktur.</li>
                <li>SİTE'de mevcut bilgilerin doğruluk ve güncelliğini sağlamak için elimizden geleni yapmaktayız. Lakin gösterdiğimiz çabaya rağmen, bu bilgiler, fiili değişikliklerin gerisinde kalabilir, birtakım farklılıklar olabilir. Bu sebeple, site içerisinde yer alan bilgilerin doğruluğu ve güncelliği ile ilgili tarafımızca, açık veya zımni, herhangi bir garanti verilmemekte, hiçbir taahhütte bulunulmamaktadır.</li>
                <li>SİTE'de üçüncü şahıslar tarafından işletilen ve içerikleri tarafımızca bilinmeyen diğer web sitelerine, uygulamalara ve platformlara köprüler (hyperlink) bulunabilir. SİTE, işlevsellik yalnızca bu sitelere ulaşımı sağlamakta olup, içerikleri ile ilgili hiçbir sorumluluk kabul etmemekteyiz.</li>
                <li>SİTE'yi virüslerden temizlenmiş tutmak konusunda elimizden geleni yapsak da, virüslerin tamamen bulunmadığı garantisini vermemekteyiz. Bu nedenle veri indirirken, virüslere karşı gerekli önlemi almak, kullanıcıların sorumluluğundadır. Virüs vb. kötü amaçlı programlar, kodlar veya materyallerin sebep olabileceği zararlardan dolayı sorumluluk kabul etmemekteyiz.</li>
                <li>SİTE'de sunulan hizmetlerde, kusur veya hata olmayacağına ya da kesintisiz hizmet verileceğine dair garanti vermemekteyiz. SİTE'ye ve sitenin hizmetlerine veya herhangi bir bölümüne olan erişiminizi önceden bildirmeksizin herhangi bir zamanda sonlandırabiliriz.</li>
            </ul>
        
            <h2>Sorumluluğun Sınırlandırılması</h2>
            <p>SİTE'nin kullanımından doğan zararlara ilişkin sorumluluğumuz, kast ve ağır ihmal ile sınırlıdır. Sözleşmenin ihlalinden doğan zararlarda, talep edilebilecek toplam tazminat, öngörülebilir hasarlar ile sınırlıdır. Yukarıda bahsedilen sorumluluk sınırlamaları aynı zamanda insan hayatına, bedeni yaralanmaya veya bir kişinin sağlığına gelebilecek zararlar durumunda geçerli değildir. Hukuken mücbir sebep sayılan tüm durumlarda, gecikme, ifa etmeme veya temerrütten dolayı, herhangi bir tazminat yükümlülüğümüz doğmayacaktır.</p>
        
            <h2>Uyuşmazlık Çözümü</h2>
            <p>İşbu Sözleşme'nin uygulanmasından veya yorumlanmasından doğacak her türlü uyuşmazlığın çözümünde, Türkiye Cumhuriyeti yasaları uygulanır; Yozgat Adliyesi Mahkemeleri ve İcra Daireleri yetkilidir.</p>
        
            <p>Bu kullanım koşulları, <a href="https://sartlar.com">https://sartlar.com</a> aracılığıyla oluşturulmuştur.</p>            
        </div>
        <div class="modal-footer">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Onaylıyorum
            <i class="fa-solid fa-check"></i>
        </button>
        </div>
    </div>
    </div>
</div>

<div class="modal fade" id="KisiselVeriModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content kullanimSartModal">
        
        <div class="modal-body">
            <h2>Kişisel Verilerin Korunması Aydınlatma Metni</h2>
            <p>Penta Teknoloji Ürünleri Dağıtım Ticaret A.Ş. kişisel verilerinizin hukuka uygun olarak toplanması, saklanması ve paylaşılmasını sağlamak ve gizliliğinizi korumak amacıyla mümkün olan en üst seviyede güvenlik tedbirlerini almaktadır.</p>
            <p>Amacımız; 6698 sayılı Kişisel Verilerin Korunması Kanununun 10. maddesi gereğince ve sizlerin memnuniyeti doğrultusunda, kişisel verilerinizin alınma şekilleri, işlenme amaçları, paylaşılan kişiler, hukuki nedenleri ve haklarınız konularında sizi en şeffaf şekilde bilgilendirmektir.</p>
        
            <h2>a) Veri Sorumlusu</h2>
            <p>6698 sayılı Kişisel Verilerin Korunması Kanunu (“6698 sayılı Kanun”) uyarınca, kişisel verileriniz; veri sorumlusu olarak Penta Teknoloji Ürünleri Dağıtım Ticaret A.Ş. (“ŞİRKET”) tarafından aşağıda açıklanan kapsamda toplanacak ve işlenebilecektir.</p>
        
            <h2>b) Kişisel Verilerin Hangi Amaçla İşleneceği</h2>
            <p>ŞİRKET tarafından, müşterileri, çalışanları, potansiyel müşterileri, çalışan adayları, iş ortakları ve tedarikçileri gibi taraflardan, kimlik bilgisi, iletişim bilgisi, müşteri bilgisi, müşteri işlem bilgisi, işlem güvenliği bilgisi, hukuki işlem ve uyum bilgisi ile pazarlama satış bilgisi gibi kategorilerde kişisel veri toplanabilmektedir.</p>
            <p>Toplanan kişisel verileriniz;</p>
            <ul>
                <li>ŞİRKET ürün ve hizmetlerinin sizlere sunulabilmesi, sizlere karşı olan yükümlülüklerimizin yerine getirilmesi, kayıt ve belgelerin düzenlenebilmesi, yerel ve uluslararası yasal mevzuatın öngördüğü bilgi saklama, raporlama, bilgilendirme, vergi ve sair yükümlülüklere uymak,</li>
                <li>Hizmet ve ürünlerin kalitesinin artırılmasına yönelik yapılacak olan satış ve pazarlama faaliyetleri için yapılacak size özel reklam, kampanya, avantajlar ve diğer faydaları sunmak,</li>
                <li>Altyapı ve ticari faaliyetleri yönetmek ve denetim, finans ve muhasebe, faturalama ve tahsilatlar, bilgi işlem sistemleri, veriler ve internet sitesi barındırma, iş devamlılığı ve kayıtlar, belge ve baskı yönetimi ile bağlantılı olanlar da dahil olmak üzere, iç politika ve prosedürlere uymak,</li>
                <li>Bilgi işlem gereksinimleri, sistemsel yapısı, alınan bilgi işlem destek hizmetlerinin gerekliliği, bu hizmet ve ürünlere ilişkin olarak sizlere gerekli bilgilerin aktarılması amacıyla iletişim kurmak,</li>
                <li>Satış ve pazarlama faaliyetleri için yapılacak trafik ölçümleme, istatistiki analizler, Segmentasyon/profilleme ve CRM çalışmalarını yürütmek,</li>
                <li>Müşteri memnuniyetinin ölçümlenmesi ve artırılması, şikâyet yönetimi, yeni hizmet ve ürünler ile ilgili görüş ve önerilerinizi almak, sorun-hata bildirimlerinizi almak, ürün ve hizmetlere, şikayet ve taleplerinize yönelik tarafınıza bilgi vermek,</li>
                <li>Siparişlerinizi almak, ödeme işlemlerinizi gerçekleştirmek, 3. kişiler ile lojistik iş birliği sağlayıp ürün gönderimini sağlamak, ilginizi çekebilecek ürün ve hizmetleri önermek, online davranışsal reklamcılık ve pazarlama, müşteri portföy yönetimi, hizmet kalitesinin ölçülmesi ve geliştirilmesi, iletişim, optimizasyon, denetim, risk yönetimi ve kontrol, promosyon, analiz, ilgi alanları belirleme, skorlama, profilleme, pazarlama, satış, reklam, iletişim</li>
                <li>Karşılaştırmalı ürün ve/veya hizmet teklifi, modelleme, mevcut veya yeni ürün çalışmaları ve/veya geliştirmeleri, kişisel verilerinizi ŞİRKET’e açıklamanıza konu olan ŞİRKET ana sözleşmesinde yazılı olan işleri düzenleyen kanun ve ilgili mevzuat kapsamında sizlere sunulacak her türlü ürün ve hizmetlerde kullanılmak,</li>
                <li>Resmî kurumlarca öngörülen bilgi saklama, raporlama, bilgilendirme yükümlülüklerine uymak, sözleşmelerin gerekliliklerini yerine getirmek ve bu hizmetlerden faydalanılmasına ilişkin olarak ŞİRKET’in tabi olduğu yasal yükümlülükleri ifa etmek,</li>
                <li>ŞİRKET’in ticari ve iş stratejilerinin belirlenmesi ve uygulanması amacı doğrultusunda; ŞİRKET tarafından yürütülen finans operasyonları, iletişim, pazar araştırması ve sosyal sorumluluk aktiviteleri, satın alma operasyonları (talep, teklif, değerlendirme, sipariş, bütçelendirme, sözleşme), şirket içi sistem ve uygulama yönetimi operasyonları, hukuki operasyonları yönetmek,</li>
                <li>Kara para aklamayı önleme ve terör karşıtı yasalar da dahil olmak üzere, yürürlükteki yasalara ve düzenleyici yükümlülüklere (ikamet ülkenizin dışındakiler de dahil) uymak, hukuki sürece uymak ve resmi makamlardan ve devlet makamlarından (ikamet ülkenizin dışındakiler de dahil) gelen talepleri incelemek, değerlendirmek ve yanıtlamak, amaçlarıyla 6698 sayılı Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde işlenecektir.</li>
            </ul>
        
            <h2>c) İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabileceği</h2>
            <p>Toplanan kişisel verileriniz; yukarıda belirtilen amaçların gerçekleştirilmesi ile sınırlı olmak üzere;</p>
            <ul>
                <li>ŞİRKET’in iş ortaklarına, tedarikçilerine, hissedarlarına, Yıldız Holding ve iştiraklerine,</li>
                <li>Vergi Usul Kanunu, Sosyal Güvenlik Kurumu mevzuatı, Sayıştay, Suç Gelirlerinin Aklanmasının Önlenmesi Hakkında Kanun, Karaparanın Aklanmasının Önlenmesine Dair Kanun, Türk Ticaret Kanunu, Borçlar Kanunu ve diğer mevzuat hükümlerinin izin verdiği kişi veya kuruluşlara,</li>
                <li>Kanunen yetkili kamu kurum ve kuruluşları, idari merciler ve yasal mercilere,</li>
                <li>Yurt dışı şirketlerine ve iştiraklerine,</li>
                <li>Ürün/hizmet karşılaştırma, analiz, değerlendirme, reklam ve yukarıda belirtilen amaçların gerçekleştirilmesinde hizmet aldığımız, işbirliği yaptığımız gerçek veya tüzel kişilere, program ortağı kurum ve kuruluşlara, müşterilerimize gönderdiğimiz iletilerin gönderilmesi konusunda anlaşmalı olduğumuz kurumlara, verilen siparişlerin size teslimini gerçekleştiren kargo şirketlerine 6698 sayılı Kanun’un 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde aktarılabilecektir.</li>
            </ul>
        
            <h2>ç) Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi</h2>
            <p>Kişisel verileriniz ŞİRKET Genel Müdürlük, anlaşmalı internet siteleri üzerinden yapılmış olan başvurular, destek hizmeti verdiğimiz / aldığımız sair kurumlar ile her türlü mevzuat veya sözleşme dahilinde işlem yapılan gerçek ve / veya tüzel kişiler, internet sitemiz ve mobil uygulamamız, çağrı merkezlerimiz, sosyal medya hesaplarımız gibi mecralardan sözlü, yazılı veya elektronik ortamda veya ilerde kurulacak/oluşabilecek diğer kanallar başta olmak üzere;</p>
            <p>ŞİRKET tarafından yasal mevzuat çerçevesinde yukarıda belirtilen amaçlarla, sözleşmenin ifası dahilinde toplanmaktadır.</p>
        
            <h2>d) Kişisel Veri Sahibinin 6698 sayılı Kanun’un 11. Maddesinde Sayılan Hakları</h2>
            <p>Kişisel veri sahipleri olarak, haklarınıza ilişkin taleplerinizi aşağıda düzenlenen yöntemlerle iletmeniz durumunda ŞİRKET talebin niteliğine göre talebi en kısa sürede ve en geç otuz gün içinde sonuçlandıracaktır. Verilecek cevapta on sayfaya kadar ücret alınmayacaktır. On sayfanın üzerindeki her sayfa için 1 Türk Lirası işlem ücreti alınacaktır. Başvuruya cevabın CD, flash bellek gibi bir kayıt ortamında verilmesi halinde şirketimiz tarafından talep edilebilecek ücret, kayıt ortamının maliyetini geçmeyecektir.</p>
            <p>Bu kapsamda kişisel veri sahipleri;</p>
            <ul>
                <li>Kişisel veri işlenip işlenmediğini öğrenme,</li>
                <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
                <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
                <li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</li>
                <li>Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
                <li>6698 sayılı Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması halinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
                <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,</li>
                <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması halinde zararın giderilmesini talep etme haklarına sahiptir.</li>
            </ul>
            <p>Yukarıda belirtilen haklarınızı kullanma ile ilgili talebinizi, 6698 sayılı Kanunu’nun 13. maddesinin 1. fıkrası ve 30356 sayılı ve 10.03.2018 tarihli Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğ gereğince Türkçe ve yazılı olarak veya kayıtlı elektronik posta (KEP) adresi, güvenli elektronik imza, mobil imza ya da ŞİRKET’e daha önce bildirilen ve sistemimizde kayıtlı bulunan elektronik posta adresini kullanmak suretiyle iletebilirsiniz. Başvurularda sadece başvuru sahibi kişi hakkında bilgi verilecek olup diğer aile fertleri ve üçüncü kişiler hakkında bilgi alınması mümkün olmayacaktır. ŞİRKET’in cevap vermeden önce kimliğinizi doğrulama hakkı saklıdır.</p>
        
            <p>Başvurunuzda;</p>
            <ul>
                <li>Adınızın, soyadınızın ve başvuru yazılı ise imzanızın,</li>
                <li>Türkiye Cumhuriyeti vatandaşları için T.C. kimlik numaranızın, yabancı iseniz uyruğunuzun, pasaport numaranızın veya varsa kimlik numaranızın,</li>
                <li>Tebligata esas yerleşim yeri veya iş yeri adresinizin,</li>
                <li>Varsa bildirime esas elektronik posta adresi, telefon ve faks numaranızın,</li>
                <li>Talep konunuzun,</li>
            </ul>
            <p>bulunması zorunlu olup varsa konuya ilişkin bilgi ve belgelerin de başvuruya eklenmesi gerekmektedir.</p>
            <p>Yazılı olarak yapmak istediğiniz başvurularınızı, gerekli belgeleri ekleyerek veri sorumlusı olarak Şirketimizin Penta Teknoloji A.Ş. Organize Sanayi Bölgesi Nato Yolu 4.Cadde No:1 Yukarı Dudullu – Ümraniye/İSTANBUL adresine verebilirsiniz. Başvuru formuna buradan erişebilirsiniz.</p>
            <p>E-posta yoluyla yapmak istediğiniz başvurularınızı  e-posta adresine yapabilirsiniz. KEP yoluyla yapmak istediğiniz başvurularınızı  KEP adresimize yapabilirsiniz.</p>
            <p>Talebinizin niteliğine göre kimlik tespitine olanak sağlayacak bilgi ve belgelerin eksiksiz ve doğru olarak tarafımıza sağlanması gerekmektedir. İstenilen bilgi ve belgelerin gereği gibi sağlanmaması durumunda, ŞİRKET tarafından talebinize istinaden yapılacak araştırmaların tam ve nitelikli şekilde yürütülmesinde aksaklıklar yaşanabilecektir. Bu durumda, ŞİRKET kanuni haklarını saklı tuttuğunu beyan eder. Bu nedenle, başvurunuzun talebinizin niteliğine göre eksiksiz ve istenilen bilgileri ve belgeleri içerecek şekilde gönderilmesi gerekmektedir.</p>
                   
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Onaylıyorum
                <i class="fa-solid fa-check"></i>
            </button>
            </div>
      </div>
    </div>
  </div>

</div>


    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="kapsayici d-flex">
            <div>
                <img src="/images/h2.jpeg" class="img-fluid rsm2">
            </div>
            <div class="modal-icerik">
                <h3 class="text-center mt-5">Üye Ol</h3>
                <!-- <p class="text-center mt-3">Google hesabınız ile üye olabilirsiniz.</p>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-primary w-50">
                        <i class="fa-brands fa-google"></i>
                        Google</button>
                    </div> -->
    
                    <div class="d-flex justify-content-center mt-3">
                        <hr class="hr1 m">
                        <hr class="hr1">
                    </div>
    
                    <form class="mt-3" #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
                        <div class="row modal-form1 form-group">
                            <input type="text" name="FirstName" class="form-control modal-input1" placeholder="Ad" autocomplete="off" [(ngModel)]="signUpModel.firstName">
                            <input type="text" name="LastName" class="form-control modal-input1" placeholder="Soyad" autocomplete="off" [(ngModel)]="signUpModel.lastName">
                        </div>
                        <div class="row modal-form1 form-group">
                            <input type="tel" name="PhoneNumber" class="form-control modal-input1" placeholder="Telefon Numarası" autocomplete="off" [(ngModel)]="signUpModel.phoneNumber">
                            <input type="text" name="eMail" class="form-control modal-input1" placeholder="E-Posta Adresi" autocomplete="off" [(ngModel)]="signUpModel.email">
                        </div>
                        <div class="row modal-form1 form-group">
                            <input type="text" name="UserName" class="form-control modal-input1" placeholder="Kullanıcı Adı" autocomplete="off" [(ngModel)]="signUpModel.userName">
                            <input type="text" name="Password" class="form-control modal-input1" placeholder="Şifre" autocomplete="off" [(ngModel)]="signUpModel.Password">
                        </div>
    
                        <div class="form-check mt-2">
                            <input type="checkbox" name="terms" class="check-1" #termsCheck>
                            <span for="autoSizingCheck">
                                <a href="" data-bs-toggle="modal" data-bs-target="#kullanimSartModal" style="color: rgb(126, 98, 63);">Kullanım Şartlarını</a>
                                ve
                                <a href="" data-bs-toggle="modal" data-bs-target="#KisiselVeriModal"  style="color: rgb(126, 98, 63);">Kişisel Verilerin Korunması Politikasını</a>
                                <p>okudum, onaylıyorum.</p>
    
                               
    
                            </span>
                        </div>
                        
                        <div class="form-group form-buton2 d-flex justify-content-center ">
                             <button type="submit" class="form-buton1"> 
                                Üye Ol
                            </button>
                        </div>
    
    
                    </form>
            </div>
        </div>